h2,
h3,
h4,
p,
span {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: $h2-font-size;
  color: $title-color;
  font-weight: 600;
}

.subtitle {
  font-size: $h3-font-size;
  color: $text-color;
  font-weight: 500;
}

.icons {
}
