.gradient-border {
  --borderWidth: 50%;
  --angle: 0deg;
  width: 100px;
  height: 100px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
  // padding: 1rem;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: -7px;
  left: -6px;
  right: 0;
  bottom: 0;
  height: 110%;
  width: 110%;
  background: linear-gradient(60deg, $red, $red, #fc223f, #7c0808, #8f0606, #d11c1c, $red, $red);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 8s ease alternate infinite;
  background-size: 150% 150%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 300% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
